Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea
Build

JointModel/.idea
JointModel/venv
JointModel/.gitattributes
JointModel/intent/model
JointModel/intent/trained_model
JointModel/intent/__pycache__
JointModel/joint_intent_slot_filling/tf_cache
JointModel/joint_intent_slot_filling/trained_model
JointModel/joint_intent_slot_filling/trained_model_old
JointModel/joint_intent_slot_filling/__pycache__

QuestionAnswering/.idea
QuestionAnswering/venv
QuestionAnswering/question_answering/__pycache__